{% extends 'base_template.html' %}

<!-- title -->
{% block title %}Dashboard{% endblock %}

<!-- block body -->
{% block body %}
<div class="page">

    <div class="card">
        <h1>Welcome, {{ username }}</h1>
        <p class="dashboard-subtitle">Here is <strong>Today's Schedule</strong>.</p>
    </div>

    <div class="schedule-card">
        <h2>Today's Schedule</h2>

        <table class="schedule-table">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Lesson</th>
                    <th>Student</th>
                    <th>Age</th>
                </tr>
            </thead>

            <tbody>
                {% for time in time_slots %}
                <tr>
                    <td class="time-column">{{ time }}</td>
                    <td class="lesson-column">
                        Available
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}