{% extends 'base_template.html' %}

<!-- title -->
{% block title %}Login{% endblock %}

<!-- block body -->
{% block body %}
<div class="page">

    <div class="card">
        <h1>Welcome!</h1>

        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password">

            <button type="submit">Login</button>
        </form>
    </div>

</div>
{% endblock %}